@model Models.Tire

<td>
    @Html.DisplayFor(model => model.Producer)
</td>
<td>
    @Html.DisplayFor(model => model.Season)
</td>
<td>
    @Html.DisplayFor(model => model.Width)
</td>
<td>
    @Html.DisplayFor(model => model.Profile)
</td>
<td>
    @Html.DisplayFor(model => model.Diameter)
</td>