@model IEnumerable<Models.User>

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Mvc.Program> Localizer

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@{
    var title = "Users";
    //ViewData["Title"] = title;
    ViewBag.Title = title;

    var searchRoleList = Enum.GetValues<Models.Roles>().Select(x => new SelectListItem(x.ToString(), x.ToString())).ToList();
        searchRoleList.Insert(0, new SelectListItem(string.Empty, string.Empty));
}

<h2>@(string.IsNullOrWhiteSpace(title) ? "none" : title)</h2>

<div>

    @* <form> *@
       @using(@Html.BeginForm()) {
            @Localizer["Login"] @Html.TextBox("search")<br>
            @Localizer["Role"] @Html.DropDownList("roles", searchRoleList)<br>
            <input type="submit" value=@(Localizer["Search"]) />
       }
    @* </form> *@


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayName(nameof(Models.User.Login), Localizer)
                    @* @Html.DisplayName(Localizer[nameof(Models.User.Login)]) *@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password, ViewLocalizer)
                    @* @ViewLocalizer[Html.DisplayNameFor(model => model.Password)] *@
                    @* @ViewLocalizer["<i>Hello, {0}</i>", nameof(Models.User.Password)] *@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role, Localizer)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Role)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>